@model List<SocialMedia.ViewModels.Image.ImageViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="mx-auto" style="width: 360px;">

    @foreach (var item in Model.OrderByDescending(x => x.CreatedOn).ToList())
    {



        @*<div class="col-sm-4 border">

            <a asp-controller="Profil" asp-action="OpenProfil" asp-route-id="@item.Profil.id">
                <h3>@item.Profil.UserName</h3>
                <div class="text-center">
                    <img src="~/images/ProfilImage/@item.Profil.UserName/@item.Id.@item.Extension" alt="Alternate Text" width="100%" class="rounded" />
                </div>

            </a>
        </div>*@
    <a asp-controller="Profil" asp-action="OpenProfil" asp-route-id="@item.Profil.id">
        <div class="card" style="width: 30rem;  margin-top: 20px !important">
            <h5 class="font-italic">@item.Profil.UserName</h5>
            <img class="card-img-top" src="~/images/ProfilImage/@item.Profil.UserName/@item.Id.@item.Extension" alt="Card image cap" >
            <div class="card-body">
                <p class="card-text">@item.Description</p>
            </div>
        </div>
        
    </a>

    <div style=" margin-top: 10 !important;">
                          
    </div>
    }


</div>
