@model SocialMedia.ViewModels.Profil.ProfilViewModel
<div>

    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <form class="form-inline">
                <a asp-controller="Profil" asp-action="Gallery" class="btn btn-outline-success " type="button">Галерия</a>
                <a class="btn btn-sm btn-outline-secondary" >Съобщение</a>
                <a class="btn btn-sm btn-outline-secondary">Чат</a>

            </form>
        </nav>
        <div class="row">
            <div class="col">
                @foreach (var item in Model.Images)
                {
                    <img src="~/images/ProfilImage/@Model.UserName/@item.Id.@item.Extension" alt="..." width="500">

                }

            </div>

            <div class="col">
                
                <a class="btn btn-sm btn-outline-secondary" asp-controller="Profil" asp-action="Edit" asp-route-id="@Model.ApplicationUserId">Редактирай Профила</a>

                <table class="table table-striped" style="width: 80%">

                    <thead>
                        <tr>

                            <th scope="col"><H2>@Model.UserName</H2></th>
                            @*<th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Пол</th>
                            <td>@Model.Gender</td>

                        </tr>
                        <tr>
                            <th scope="row">Харесва</th>
                            <td>@Model.Likes</td>

                        </tr>
                        <tr>
                            <th scope="row">Години</th>
                            <td>@Model.Age</td>

                        </tr>
                        <tr>
                            <th scope="row">От</th>
                            <td>@Model.From</td>

                        </tr>
                        <tr>
                            <th scope="row">Височина</th>
                            <td>@Model.Height</td>

                        </tr>
                        <tr>
                            <th scope="row">Кг</th>
                            <td>@Model.Weight</td>

                        </tr>

                        <tr>
                            <th scope="row">Цвят на очите</th>
                            <td>@Model.EyesColor</td>

                        </tr>
                        <tr>
                            <th scope="row">Цвят на косата</th>
                            <td>@Model.EyesColor</td>

                        </tr>
                        <tr>
                            <th scope="row">Статус</th>
                            <td>@Model.Status</td>

                        </tr>
                        <tr>
                            <th scope="row">Търси</th>
                            <td>@Model.LookingFor</td>

                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Цигари</th>
                            <td>@Model.Cigarettes</td>

                        </tr>
                        <tr>
                            <th scope="row">Алкохол</th>
                            <td>@Model.Alcohol</td>

                        </tr>
                        <tr>
                            <th scope="row">Дата на раждане</th>
                            <td>@Model.DateBirthday</td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-5">

                <div class="card">
                    <div class="card-header" >
                        Описание
                    </div>
                    <div class="card-body">
                        <p class="card-text" >@Model.Description</p>
                    </div>
                </div>
            </div>
            @*<div class="col">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>mddso</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>fdsat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>*@
        </div>
    </div>
</div>