@using Microsoft.AspNetCore.Identity
@using SocialMedia.Data
@model SocialMedia.ViewModels.Profil.ProfilViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{ 
    Model.Description = "";
}

@if (this.SignInManager.UserManager.GetUserId(this.User) == Model.ApplicationUserId)
{
    <style>
        .fullscreen:-webkit-full-screen {
            width: auto !important;
            height: auto !important;
            margin: auto !important;
        }

        .fullscreen:-moz-full-screen {
            width: auto !important;
            height: auto !important;
            margin: auto !important;
        }

        .fullscreen:-ms-fullscreen {
            width: auto !important;
            height: auto !important;
            margin: auto !important;
        }
    </style>

    <h1> Tuk se poqvqva opisanieto na Profila</h1>
    <form method="post" class="col-md-6 offset-md-3 card"
          enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="@Model.ImagesVieModel" >Прикачи снимка</label>
            <input asp-for="@Model.ImagesVieModel" class="form-control-file" />
            <span asp-validation-for="@Model.ImagesVieModel" class="text-danger"></span>
        </div>
        <label asp-for="@Model.Description">Описание</label>
        <textarea asp-for="@Model.Description" class="form-control"></textarea>

        <input type="submit" class="btn btn-primary" />
    </form>

    <div class="container">
        <div class="row">

            @foreach (var item in @Model.Images)
            {
                <div class="col">
                    @*<a href="~/images/ProfilImage/@Model.UserName/@item.Id.@item.Extension" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">*@
                    @*<img src="~/images/ProfilImage/@Model.UserName/@item.Id.@item.Extension" class="img-fluid rounded" style="max-width: 40%; height: auto">*@
                    <div>
                        <img id="theImage" style="width:400px; height:auto;" class="fullscreen" src="~/images/ProfilImage/@Model.UserName/@item.Id.@item.Extension" onClick="makeFullScreen()"></img>

                        @*</a>*@
                        <nav>
                            @if (this.SignInManager.UserManager.GetUserId(this.User) == Model.ApplicationUserId)
                            {
                                <a class="btn  btn-primary" asp-controller="Gallery" asp-action="RealDeleteImage" asp-route-idProfil="@Model.id" asp-route-idImage="@item.Id">Delete</a>
                                <a class="btn  btn-primary" asp-controller="Gallery" asp-action="SetProfilImage" asp-route-idProfil="@Model.ApplicationUserId" asp-route-idImage="@item.Id">Направи профилна</a>
                            }
                        </nav>
                    </div>
                </div>}

        </div>

    </div>
   
    <script>
        function makeFullScreen() {
            var divObj = document.getElementById("theImage");
            //Use the specification method before using prefixed versions
            if (divObj.requestFullscreen) {
                divObj.requestFullscreen();
            }
            else if (divObj.msRequestFullscreen) {
                divObj.msRequestFullscreen();
            }
            else if (divObj.mozRequestFullScreen) {
                divObj.mozRequestFullScreen();
            }
            else if (divObj.webkitRequestFullscreen) {
                divObj.webkitRequestFullscreen();
            } else {
                console.log("Fullscreen API is not supported");
            }

        }
    </script>
}
else
{

    @section style {
        <link href="https://fonts.googleapis.com/css?family=DM+Serif+Text|Lexend+Deca&display=swap" rel="stylesheet">
        <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
        <link href="~/gallery/css/mini.css" rel="stylesheet" />
        <link href="~/gallery/css/style.css" rel="stylesheet" />


    }

    <div class="content">
        <div class="gg-container">
            <div class="gg-box">
                @foreach (var item in @Model.Images)
                {
                    <img src="~/images/ProfilImage/@item.Profil.UserName/@item.Id.@item.Extension">

                }

            </div>
        </div>

    </div>
    @section Scripts {
        @*<script src="~/gallery/js/mini.js"></script>*@

        @*<script>
                gridGallery({
                    selector: ".dark",
                    darkMode: true
                });
                gridGallery({
                    selector: "#horizontal",
                    layout: "horizontal"
                });
                gridGallery({
                    selector: "#square",
                    layout: "square"
                });
                gridGallery({
                    selector: "#gap",
                    gaplength: 10
                });
                gridGallery({
                    selector: "#heightWidth",
                    rowHeight: 180,
                    columnWidth: 280
                });
            </script>*@
        <script src="~/gallery/js/main.js"></script>

    }

}

